.control {
	margin-top: 0.5em;
}

.control__container {
	display: flex;
	gap: 1ch;
	justify-content: space-between;
	flex-wrap: wrap;
}

.control__title {
	width: 10ch;
}

.control__input {
	flex-grow: 1;
}

.control__textarea {
	flex-grow: 1;
}
