doctype html
html.page(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/vendor/sanitize.css')
    link(rel='stylesheet', href='/css/style.css')
  body.page__body
    header
      nav.menu
        ul.menu__list
          li.menu__item
            a.menu__link(href="rooms") Помещения
          li.menu__item
            a.menu__link(href="inventory") Оборудование
    
    block content
    script(src="js/index.js")
